<html>
<head>
    <meta charset="utf-8">
    <title>テストログイン</title>
</head>
<body>
  <p>
  <h1>テストログイン</h1>

  <hr>

  <form method="POST" action="/output">
      <div>Nick name<div>
      <input type="text" name="data1"></div>
      <p>
      <div>Birth</div>
      <div>jear<input type="text" name="data2"> manth<input type="text" name="data3"> day<input type="text" name="data4"></div>
      <p>
      <div>email</div>
      <div><input type="text" name="data5"></div>
      <p>
      <div>pass</div>
      <div><input type="text" name="data6"></div>
      <p>
      <div>pass oon</div>
      <div><input type="text" name="data7"></div>
      <input type="submit" value="OK">
  </form>
</body>
</html>
